# Standard SPM .gitignore contents
.DS_Store
/SDKWorkbench/.build
/SDKWorkbench/Packages
/SDKWorkbench/*.xcodeproj
xcuserdata/
DerivedData/
.swiftpm/config/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc

# Resolved packages (no need to lock)
/SDKWorkbench/Package.resolved
/SDKWorkbench.xcworkspace/xcshareddata/swiftpm/Package.resolved

# VSCode
.vscode/
/SDKWorkbench/.devcontainer/.env
